<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Доход</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.0.1/dist/chartjs-plugin-annotation.min.js"></script>
</head>
<body>
<!-- Вставляем шапку -->
<div th:replace="~{fragments/header :: header}"></div>

<main>
    <h1>Доход</h1>

    <!-- Кнопки для переключения месяцев -->
    <div class="month-navigation">
        <button class="nav-button" id="prev-month"
                th:attr="data-prev-month=@{/income(month=${currentMonth.minusMonths(1).toString()})}">
            Предыдущий месяц
        </button>
        <span id="current-month" th:text="${currentMonth.toString()}"></span>
        <button class="nav-button" id="next-month"
                th:attr="data-next-month=@{/income(month=${currentMonth.plusMonths(1).toString()})}">
            Следующий месяц
        </button>
    </div>

    <!-- Общая сумма дохода за месяц -->
    <div class="total-income">
        <strong>Общий доход за месяц:</strong>
        <span id="total-income-amount" th:text="${totalIncome}"></span>
    </div>

    <!-- График доходов -->
    <div id="income-chart-div">
        <canvas id="income-chart" th:attr="data-daily-income=${dailyIncome}"></canvas>
    </div>
</main>

<script th:src="@{/js/income-scripts.js}"></script>
</body>
</html>