<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Услуги</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Вставляем шапку -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Основная часть страницы -->
<main>
    <h1>Услуги</h1>

    <!-- Кнопка "Добавить новую услугу" -->
    <button id="add-service-btn" onclick="addNewService()">Добавить новую услугу</button>

    <!-- Таблица с услугами -->
    <div class="table-container">
        <table id="services-table" class="table">
            <thead>
            <tr>
                <th>Название услуги</th>
                <th>Описание</th>
                <th>Цена</th>
                <th>Длительность (мин.)</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <!-- Динамическое заполнение таблицы данными из базы -->
            <tr th:each="service : ${services}"
                th:data-service-id="${service.id}">
                <td><input type="text" th:value="${service.name}" name="name" disabled></td>
                <td><textarea th:text="${service.description}" name="description" disabled></textarea></td>
                <td><input type="number" th:value="${service.price}" name="price" disabled></td>
                <td><input type="number" th:value="${service.duration}" name="price" disabled></td>
                <td>
                    <button class="edit-btn" onclick="toggleEdit(this)">Редактировать</button>
                    <button class="save-btn" onclick="saveChanges(this)" style="display: none;">Сохранить</button>
                    <button class="delete-btn" onclick="deleteService(this)">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<!-- Подключение JavaScript -->
<script th:src="@{/js/services-scripts.js}"></script>
</body>
</html>