<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Вставляем шапку -->
<div th:replace="~{fragments/header :: header}"></div>

<!-- Основная часть страницы -->
<main>
    <div id="content">
        <!-- Здесь будет отображаться контент выбранного режима -->
        <p>Выберите режим из меню выше.</p>
    </div>
</main>

</body>
</html>