<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Визиты пользователя</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Вставляем шапку -->
<div th:replace="~{fragments/header :: header}"></div>

<main>
    <!-- Таблица визитов -->
    <h2>Все визиты</h2>
    <table id="visits-table">
        <thead>
        <tr>
            <th>Пациент</th>
            <th>Дата визита</th>
            <th>Название услуги</th>
            <th>Цена услуги</th>
            <th>Время нотификации</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}">
            <td th:text="${visit.user} != null ? ${visit.user.tgAccount + ' (' + visit.user.firstName + ')'} : ''"></td>
            <td th:text="${#temporals.format(visit.visitDateTime, 'dd-MM-yyyy HH:mm')}"></td>
            <td th:text="${visit.cosmetologyService} != null ? ${visit.cosmetologyService.name} : ''"></td>
            <td th:text="${visit.cosmetologyService != null ? #numbers.formatDecimal(visit.cosmetologyService.price, 1, 2) : ''}"></td>
            <td th:text="${visit.notification != null ? #temporals.format(visit.notification.notificationDateTime, 'dd-MM-yyyy HH:mm') : ''}"></td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>