<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Визиты пользователя</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<!-- Вставляем шапку -->
<div th:replace="~{fragments/header :: header}"></div>

<main>
    <!-- Общая информация о пользователе -->
    <div class="user-info">
        <h1>Информация о пользователе</h1>
        <p><strong>Имя:</strong> <span th:text="${user.firstName} + ' ' + ${user.lastName}"></span></p>
        <p><strong>Количество визитов:</strong> <span th:text="${visits.size()}"></span></p>
        <p><strong>Общая сумма визитов:</strong> <span th:text="${#numbers.formatDecimal(totalAmount, 1, 2)}"></span>
        </p>
    </div>

    <!-- Таблица визитов -->
    <h1>Визиты</h1>
    <div class="table-container">
        <table id="user-visits-table" class="table">
            <thead>
            <tr>
                <th>Дата визита</th>
                <th>Название услуги</th>
                <th>Длительность услуги</th>
                <th>Цена услуги</th>
                <th>Время нотификации</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="visit : ${visits}"
                th:data-visit-id="${visit.id}">
                <td th:text="${#temporals.format(visit.visitDateTime, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${visit.cosmetologyService} != null ? ${visit.cosmetologyService.name} : '-'"></td>
                <td th:text="${visit.cosmetologyService} != null ? ${visit.cosmetologyService.duration} : '-'"></td>
                <td th:text="${visit.cosmetologyService != null ? #numbers.formatDecimal(visit.cosmetologyService.price, 1, 2) : '-'}"></td>
                <td th:text="${visit.notification != null ? #temporals.format(visit.notification.notificationDateTime, 'dd-MM-yyyy HH:mm') : '-'}"></td>
                <td>
                    <button class="delete-btn" onclick="deleteVisit(this)">Удалить</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
<!-- Подключение JavaScript -->
<script th:src="@{/js/visits-scripts.js}"></script>
</body>
</html>